@import url('reset.css');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;400;600&display=swap');

@font-face {
	font-family: 'Circular Std';
	src: url('/fonts/CircularStd-Bold.woff2') format('woff2'), url('/fonts/CircularStd-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Circular Std';
	src: url('/fonts/CircularStd-Book.woff2') format('woff2'), url('/fonts/CircularStd-Book.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

body {
	font-family: 'Noto Sans', sans-serif;
	font-size: 1.125rem;
	font-weight: 300;
	line-height: 1.4;
}
h1 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	font-size: 3rem;
	line-height: 1.5;
	color: #252b42;
	text-transform: uppercase;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 2.2rem;
	line-height: 1.5;
	text-transform: uppercase;
}

.container {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0 15px;
}

header {
	font-size: 1.125rem;
	background-color: #252b42;
	padding: 20px 0;
}
.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.utp__pic {
	border: 5px solid#ebbc12;
	border-radius: 500px;
	max-width: 350px;
	position: relative;
	overflow: hidden;
	margin-left: 150px;
}

.nav-menu ul li {
	display: inline;
	color: #fff;
	margin-right: 25px;
	text-transform: uppercase;
}
.title span {
	border-bottom: 5px solid#ebbc12;
}
.title-text {
	margin-top: 25px;
}
.block2 .title-text {
	font-family: 'Circular Std' sans-serif;
	font-weight: 500;
	text-align: justify;
}

.block2 .title-text span {
	background-color: #ebbc12;
}

.nav-menu a:hover {
	border-bottom: 1px solid#fff;
	transition: 0.05s ease-in-out;
}
.block1,
.block3 {
	background-color: #fafafa;
	padding: 70px 0;
}
.block2,
.block4 {
	background-color: #333;
	padding: 70px 0;
	color: #fafafa;
}
.block3 h2 {
	text-shadow: 2px 2px 2px #ebbc12;
	letter-spacing: 20px;
}
.block3 .title-text {
	font-family: 'Courier New', Courier, monospace;
}
.block4 .title-text {
	font-family: 'Circular Std';
	font-weight: 500;
	font-size: 1.2rem;
}

footer {
	padding: 15px 0;
	background-color: #fafafa;
	color: #333;
	text-align: center;
	font-size: 0.875rem;
}
.up {
	color: #ebbc12;
	font-family: 'Montserrat';
	font-weight: 600;
	background: none;
	border: 2px solid#333;
	display: inline-block;
	padding: 12px 46px;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	text-transform: uppercase;
	transition: color 0.4s linear;
}
.up:hover {
	background-color: #333;
}
