@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	color: #9C9C9C;
	font-size: 16px;
	line-height: 1.6;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*=__container] {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}
h1 {
	Font-size: 56px;
	line-height: 1.4;
	color: #000;
	font-weight: 700;
}
h2{
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #333;
}
h3 {
	font-size: 24px;
	font-weight: 600;
	color: #333;
	line-height: 34px;
}
.page__container {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
	padding-top: 50px;
	padding-bottom: 50px;
}
.header-page__title{
	display: flex;
	align-items: center;
	column-gap: 25px;
}
.header-page__title::after {
	content: '';
	height: 2px;
	width: 0;
	background-color: #333;	
	animation-name: appearanceX;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

.page__cards {
	display: flex;
	flex-direction: column;
	row-gap: 40px;
}
.cards-page__block {
	display: flex;
	column-gap: 120px;
	align-items: center;
	position: relative;
}
.cards-page__image {
	flex: 0 1 62.166%;
	overflow: hidden;
	position: relative;
	padding-bottom: 30.42%;
}
.image-card__photo {
	max-width: 100%;
	width: 100%;
	height: 100%;
	object-fit: cover;
	animation-duration: 3s;
	transition-timing-function: cubic-bezier(.47,.19,.9,.53);
	animation-name: appearance;
	position: absolute;
	left: 0;
	top: 0;
}
@keyframes appearance {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
@keyframes appearanceX {
	0% {
		transform: translateY(100%);
	}
	100% {
		width: 460px;
		transform: translateY(0);
	}
}

.cards-page__text {
	flex: 0 1 27.84%;
}
.cards-page__text>*:not(:last-child) {
	margin-bottom: 20px;
}
.cards-page__text p{
	text-align: justify;
}
.page__navigation {
	display: flex;
	align-items: center;
	column-gap: 25px;
}
.btn {
	font-weight: 500;
	font-size: 16px;
	line-height: 24px;
	text-transform: uppercase;
	color: #333;
	display: inline-flex;
	transition: all .3s ease-in-out;
}
.btn:hover {
	transform: scale(1.05);
}
.icon {
	animation: arrow .9s infinite alternate ease-in-out both;
}
@keyframes arrow {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(35%);
	}
}

/* next page */
.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	column-gap: 20px;
}
.header__navigation {
	display: flex;
	column-gap: 74px;
}
.header__menu {
	display: flex;
	column-gap: 74px;
	align-items: center;
}
.menu__link {
	color: #7e7e7e;
	transition: all .3s ease-in-out;
}
.menu__link:hover {
	color: #000;
}
.menu__link_active {
	font-weight: 600;
	color: #000;
}
.header__button {
	background-color: #2C3878;
	color: #fafafa;
	padding: 14px 32px;
	transition: all .3s ease-in-out;
}
.header__button:hover {
	transform: scale(1.03);
	background-color: #1e285c;
}
.section__container {
	display: flex;
	flex-direction: column;
	row-gap: 50px;
	padding-top: 60px;
	padding-bottom: 60px;
}
.section__title {
	text-align: center;
}
.section__title p {
	font-size: 18px;
	color: #000;
	max-width: 518px;
	margin: 0 auto;
}
.section__title>*:not(:last-child) {
	margin-bottom: 40px;
}
.block__image {
	display: flex;
	flex-direction: column;
	row-gap: 30px;
}
.row {
	display: flex;
	flex-wrap: wrap;
	margin-left: -15px;
	margin-right: -15px;
	justify-content: space-between;
}
.block__image-content {
	display: flex;
	background-size: cover;
	overflow: hidden;
	padding-left: 15px;
	padding-right: 15px;
	max-height: 512px;
}
.block__image-content_big {
	flex: 0 1 100%;
}
.block__image-content_norm {
	flex: 0 1 50%;
}
.block__image-content img {
	max-width: 100%;
}

.block__items {
	padding-top: 100px;
	padding-bottom: 80px;
	display: flex;
	column-gap: 30px;
}
.items__column {
	display: flex;
	flex: 0 1 50%;
	flex-direction: column;
	row-gap: 24px;
	min-height: 100%;
}
.column__title {
	font-size: 24px;
	line-height: 1.4;
	font-weight: 500;
	color: #333;
}
.column__text {
	flex-grow: 1;
}
.column__text>*:not(:last-of-type){
	margin-bottom: 30px;
}
.column__sidebar {
	display: flex;
	column-gap: 80px;
}

.section__navigation {
	display: flex;
	align-items: center;
	column-gap: 25px;
}
.photo {
	animation-duration: 3s;
	transition-timing-function: cubic-bezier(.47,.19,.9,.53);
	animation-name: appearance;
}