@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
@import url('reset.css');

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1.7;
	color: #637381;
	background-color: #ececec;
}
h1 {
	font-weight: 700;
	font-size: 1.5625rem;
	line-height: 1.6;
}
h2 {
	font-family: 'Inter';
	font-weight: 400;
	font-size: 26px;
	line-height: 28px;
	color: #212b36;
}
h3 {
	font-family: 'Inter';
	font-weight: 700;
	font-size: 36px;
	line-height: 45px;
	color: #212b36;
}
.container {
	margin: 0 auto;
	max-width: 1270px;
	padding-right: 15px;
	padding-left: 15px;
}

.header {
	background: url(../img/bg1.png) 0 0 / cover no-repeat;
	font-size: 0.875rem;
	line-height: 1.7;
	color: #e5e5e5;
	min-height: 600px;
}
.menu {
	display: flex;
	justify-content: space-between;
	margin-bottom: 260px;
	padding-top: 15px;
}

.logo {
	display: inline-block;
	font-size: 1.125rem;
	font-weight: 700;
	color: #f8f9fa;
}
.nav-menu {
	display: flex;
	column-gap: 25px;
	padding-top: 4px;
}
.nav-menu span {
	color: rgba(249, 250, 251, 0.6);
}
.nav-menu a {
	font-size: 0.875rem;
	color: rgba(249, 250, 251, 0.6);
}
.nav-link:hover {
	color: #fff;
	border-bottom: 2px solid #ddbea9;
}

.nav-menu img {
	vertical-align: middle;
}

.header_title {
	max-width: 605px;
}
.header_title h1,
.date {
	margin-bottom: 15px;
}

.header .sub-title {
	max-width: 410px;
}
/* header end */

/* main */
/* unorder-list */

.block1 {
	font-family: 'Inter';
	font-weight: 500;
	font-size: 16px;
	padding-top: 100px;
	padding-bottom: 100px;
}
.block1 h2 {
	margin-bottom: 45px;
}
.unorder-list-text {
	display: flex;
	flex-wrap: wrap;
}
.list-text {
	min-width: 33.3%;
}
.list-text li {
	padding-left: 30px;
	min-height: 20px;
	margin-bottom: 15px;
}
.list-text li:last-child {
	margin-bottom: 0px;
}
.list-text ul {
	padding-right: 15px;
	max-width: 412px;
}
.first-row {
	margin-bottom: 70px;
}

.list1 li {
	background: url(../img/dot1.png) no-repeat;
	background-position-y: 10px;
}
.list2 li {
	background: url(../img/dot2.png) no-repeat;
	background-position-y: 4px;
}
.list3 li {
	background: url(../img/dot3.png) no-repeat;
	background-position-y: 4px;
}
.list4 li {
	background: url(../img/dot4.png) no-repeat;
	background-position-y: 4px;
}
.list5 li {
	background: url(../img/dot5.png) no-repeat;
	background-position-y: 4px;
}
.list6 li {
	background: url(../img/dot6.png) no-repeat;
	background-position-y: 4px;
}
/* unorder-list end */

/* speaker */
.block2 {
	background: linear-gradient(
			162deg,
			rgba(244, 247, 255, 0) 63%,
			rgba(48, 86, 211, 0.08) 60%,
			rgba(244, 247, 255, 0) 100%
		),
		linear-gradient(115deg, rgba(244, 247, 255, 0) 68%, rgba(48, 86, 211, 0.08) 60%, rgba(244, 247, 255, 0) 100%)
			rgb(240, 240, 240);
	font-family: 'Inter';
	padding: 100px 0;
}
.block2-content {
	display: flex;
	flex-direction: row;
	align-items: center;
}
.title-bg {
	background: rgba(240, 240, 240, 0.5);
	padding: 40px;
	margin-right: 180px;
	border-radius: 25px;
	max-width: 50%;
	box-shadow: 5px 5px 7px rgba(8, 37, 57, 0.1);
}
.title-from {
	color: #3056d3;
	font-weight: 600;
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 14px;
}
.block2 .title {
	margin-bottom: 15px;
}
.block2 .sub-title {
	margin-bottom: 35px;
}

.block2 h3 span {
	color: #5e7084;
}
.speaker {
	overflow: hidden;
}
.btn {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	line-height: 24px;
	color: #fff;
	background-color: #3056d3;
	padding: 10px 30px;
	border-radius: 30px;
	cursor: pointer;
}

/* speaker end */

/* main end */

/* footer */
.footer {
	background: rgb(31, 75, 93);
	background: linear-gradient(90deg, rgba(31, 75, 93, 1) 0%, rgba(8, 18, 22, 1) 50%, rgba(8, 37, 57, 1) 100%);
	padding-top: 100px;
	padding-bottom: 100px;
	background-color: #212529;
	font-size: 0.75rem;
}
.footer-nav {
	display: flex;
	column-gap: 25px;
	justify-content: center;
}
.footer-link {
	display: flex;
	column-gap: 25px;
	justify-content: flex-end;
}
.first {
	border-bottom: 1px solid rgba(248, 249, 250, 0.5);
	padding-bottom: 22px;
	margin-bottom: 22px;
}
.footer__row {
	display: flex;
	justify-content: space-between;
}
footer a {
	color: rgba(248, 249, 250, 0.5);
	display: inline-block;
	cursor: pointer;
	transition: color 0.2s ease;
}
.first a:hover {
	color: #fff;
}
