@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');
/* @import url('components.css'); */

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1.6;
	color: #333;
	font-size: 12px;
}
