@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');
@import url('reset.css');

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1.4;
	color: #6c757d;
	background-color: #e5e5e5;
	font-size: 0.875rem;
	line-height: 1.78;
}
h1 {
	font-weight: 700;
	font-size: 1.5625rem;
	line-height: 2.5rem;
}

h2 {
	font-weight: 600;
	font-size: 1.5625rem;
	color: #212529;
	line-height: 2.5rem;
}
h3 {
	font-size: 0.75rem;
}
.container {
	margin: 0 auto;
	max-width: 1240px;
	padding: 0 15px;
}

header {
	background-image: url(../img/bg.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	min-height: 500px;
	background-size: cover;
	color: #f8f9fa;
	box-shadow: 0px 2px 6px rgb(135 135 135);
	margin-bottom: 80px;
}
.menu {
	min-height: 64px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 130px;
}
.nav-menu {
	display: inline-block;
	margin-left: 15px;
	border-left: 1px solid#f8f9fa;
}
.nav-menu ul li {
	display: inline-block;
}
.nav-menu a {
	margin-left: 15px;
	font-size: 0.875rem;
	color: rgba(249, 250, 251, 0.6);
	transition: color 0.1s linear;
}
.nav-menu a:hover {
	color: #f8f9fa;
}
.mail {
	font-size: 0.85rem;
	font-weight: 500;
}
.date-time {
	font-size: 12px;
	margin-bottom: 10px;
}
.date-time span::before {
	content: '-';
	padding-right: 2px;
}
.date-time span::after {
	content: '-';
	padding-left: 2px;
}
.logo {
	display: inline;
	font-size: 1.25rem;
	font-weight: 700;
}
.header_title {
	display: flex;
	flex-direction: column;
	text-align: center;
	max-width: 520px;
	margin: 0 auto;
}
.header-title {
	margin: 12px auto;
}

.block1 {
	max-width: 816px;
	margin: 0 auto;
	margin-bottom: 80px;
}
#block_1 .title {
	max-width: 400px;
}
.block2 {
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2px 2px 2px rgba(132, 132, 132, 0.3);
	margin-bottom: 80px;
}
#block_2 .title {
	max-width: 605px;
}
.block3 {
	margin-bottom: 80px;
}
.title {
	margin-bottom: 40px;
}
.text-paragraf {
	margin-bottom: 40px;
}
.row {
	display: flex;
	column-gap: 30px;
}
.column {
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2px 2px 2px rgba(132, 132, 132, 0.3);
}

.nav_list {
	display: flex;
	justify-content: space-between;
	max-width: 816px;
	margin: 0 auto 80px;
	align-items: center;
}

.list_menu ul li {
	display: inline-block;
}
.list_menu a {
	font-weight: 700;
	text-transform: uppercase;
	font-size: 0.625rem;
	padding: 7px 18px;
	border: 1px solid#C4C4C4;
	border-radius: 3px;
	margin-right: 12px;
}

.list_menu-link:hover {
	background-color: #d2d2d2;
	/* box-shadow: 1px 1px 1px #9ea9b2; */
}
.share a {
	font-weight: 700;
	font-size: 0.625rem;
	text-transform: uppercase;
}
.share a:hover {
	text-decoration: underline;
}
.logo-up {
	vertical-align: middle;
	margin-right: 5px;
	padding-bottom: 2px;
}
footer {
	padding: 30px 0 15px;
	background-color: #dadada;
	text-align: center;
	font-size: 0.875rem;
}
footer a {
	color: #6d757d;
	font-family: 'Poppins';
	font-weight: 600;
	border: 1px solid#b0b0b0;
	display: inline-block;
	padding: 5px 38px;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	text-transform: uppercase;
	transition: color 0.4s linear;
}
.up:hover {
	background-color: #212529;
	color: #fafafa;
}
