@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');
@import url('reset.css');

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1.4;
	color: #6c757d;
	background-color: #e5e5e5;
	font-size: 0.875rem;
	line-height: 1.78;
}
h1 {
	font-weight: 700;
	font-size: 1.5625rem;
	line-height: 2.5rem;
}

h2 {
	font-weight: 600;
	font-size: 1.5625rem;
	color: #212529;
	line-height: 2.5rem;
}
h3 {
	font-size: 0.75rem;
}
.container {
	margin: 0 auto;
	max-width: 1240px;
	padding: 0 15px;
}

header {
	background-image: url(/img/unsplash_ndN00KmbJ1c.png);
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	max-height: 500px;
	background-size: cover;
	font-size: 1rem;
	/* background-color: #212529; */
	padding: 20px 0;
	color: #f8f9fa;
}
.menu {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.nav-menu ul li {
	display: inline-block;
	margin-left: 15px;
	font-size: 0.75rem;
	color: #f8f9fa;
}
.nav-menu a:hover {
	border-bottom: 1px solid#F8F9FA;
}
.date-time {
	font-size: 12px;
	margin-bottom: 10px;
}
.date-time span::before {
	content: '-';
	padding-right: 2px;
}
.date-time span::after {
	content: '-';
	padding-left: 2px;
}
.logo {
	font-size: 20px;
	font-weight: 700;
}
.header_title {
	text-align: center;
	margin: 160px auto 125px;
}
.header-title {
	max-width: 520px;
	margin: 10px auto;
}

.block1 {
	padding: 80px 212px 40px;
}
#block_1 .title {
	max-width: 400px;
}
.block2 {
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2px 2px 2px rgba(132, 132, 132, 0.3);
}
#block_2 .title {
	max-width: 605px;
}
.title {
	margin-bottom: 40px;
}
.text-paragraf {
	margin-bottom: 40px;
}
.row {
	display: flex;
}
.column1 {
	overflow: hidden;
	margin-right: 30px;
	border-radius: 10px;
	box-shadow: 2px 2px 2px rgba(132, 132, 132, 0.3);
}
.column2 {
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 2px 2px 2px rgba(132, 132, 132, 0.3);
}
.nav_list {
	display: flex;
	justify-content: space-between;
	padding: 0 212px;
	margin-bottom: 80px;
	align-items: center;
}
.list_menu ul li {
	display: inline-block;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 10px;
}
.list_menu-link {
	padding: 5px 15px;
	border: 1px solid#C4C4C4;
	margin-right: 15px;
	border-radius: 3px;
}
.list_menu-link:hover {
	background-color: #d2d2d2;
	/* box-shadow: 1px 1px 1px #9ea9b2; */
}
.share a {
	font-weight: 700;
	font-size: 10px;
	text-transform: uppercase;
}
.logo-up {
	vertical-align: middle;
	margin-right: 5px;
	padding-bottom: 2px;
}
footer {
	padding: 35px 0 15px;
	background-color: #dadada;
	color: #333;
	text-align: center;
	font-size: 0.875rem;
}
.up {
	color: #333;
	font-family: 'Montserrat';
	font-weight: 600;
	background: none;
	border: 2px solid#333;
	display: inline-block;
	padding: 12px 46px;
	border-radius: 5px;
	margin-bottom: 10px;
	cursor: pointer;
	text-transform: uppercase;
	transition: color 0.4s linear;
}
.up:hover {
	background-color: #212529;
	color: #fafafa;
}
