@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600;700&display=swap');

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	line-height: 1.6;
	color: #333;
	font-size: 12px;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}
h1 {
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
	color: #F8F9FA;
}
h2{
	font-weight: 700;
	font-size: 25px;
	line-height: 40px;
}
.header {
	position: relative;
	background: url(../img/bg.jpg) no-repeat;
	background-position: center;
	background-size: cover;
	width: 100%;
	padding: 35px 0 100px 0;
}
.header::before{
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.3);
}
.header-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.header-navigation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 260px;
}
.header-title {
	position: relative;
	max-width: 605px;
}
.header-title>*:not(:last-child){
	margin-bottom: 15px;
}
.header-title__date {
	font-weight: 300;
	font-size: 12px;
	line-height: 20px;
	color: #E5E5E5;
}
.header-title__subtitle {
	font-weight: 300;
	font-size: 12px;
	line-height: 20px;
	color: #E5E5E5;
	max-width: 355px;
}
.menu__list {
	display: flex;
	align-items: center;
	gap: 25px;
	color: rgba(248, 249, 250, 0.5);
}
.menu__item {
	transition: all .3s;
	position: relative;
}
.menu__item::after {
	content: '';
	position: absolute;
	width: 100%;
	height: 2px;
	border-radius: 2px;
	background-color: rgb(221, 190, 169);
	top: 100%;
	left: 0;
	transition: all .3s;
	opacity: 0;
	transform: translateY(7px);
}
.search {
	position: relative;
	top: 4px;
}
.menu__item:hover {
	color: #fff;
}
.menu__item:hover::after{
	opacity: 1;
	transform: translateY(0%);
}
/* header end */

.page {
	display: flex;
	flex-direction: column;
	gap: 45px;
	padding: 100px 0;
}
.page-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.page-header__title {
	font-weight: 500;
	font-size: 12px;
	line-height: 25px;
	color: #495057;
}
.filter__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	gap: 20px;
}
.filter__item {
	font-weight: 500;
	font-size: 12px;
	line-height: 25px;
	color: rgba(73, 80, 87, 0.5);
	transition: all .3s;
}
.filter__item:hover {
	color: #495057;
}

.page-content {
	display: flex;
	flex-wrap: wrap;
	row-gap: 45px;
	margin: 0 -15px;
}
.content__column {
	position: relative;
	display: flex;
	flex-direction: column;
	padding: 0 15px;
	flex: 0 1 33.33%;
}
.content__column>*:not(:last-child) {
	margin-bottom: 15px;	
}
.column__photo {
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	transition: all 0.3s;
	background-size: cover;
	box-shadow: 2px 2px 7px rgba(73, 80, 87, .5);
}
.column__photo::before{
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(16, 18, 21, 0.3);
	position: absolute;
	z-index: 5;
	opacity: 1;
	transition: all .3s ease-in-out;
}
.column__photo img {
	max-width: 100%;
	transition: all .3s;
}
.photo__link {
	position: absolute;
	top: 30px;
	right: 30px;
	display: inline-block;
	color: #F8F9FA;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 8px;
	line-height: 1px;
	background: rgba(33, 37, 41, 0.3);
	border-radius: 3px;
	padding: 12px;
}
.column__date {
	color: #495057;
}
.column__subject {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #212529;
	transition: all .3s;
	margin-bottom: 15px;
}
.page-content a:hover .column__subject {
	text-decoration: underline;
}
.page-content a:hover .column__photo img {
	transform: scale(1.05);
}
.page-content a:hover .column__photo::before{
	opacity: 0;
}
.column__text,
.column__copyright {
	font-weight: 300;
	font-size: 12px;
	line-height: 1.67;
	color: #495057;
}
.column__text {
	display: flex;
	flex-grow: 1;
	border-bottom: 1px solid #E5E5E5;
	padding-bottom: 15px;
}

/* footer */
.footer {
	background: #212529;
	padding: 100px 0;
	background-color: #212529;
	font-size: 0.75rem;
	color: #E5E5E5;
}
.footer-logo {
	font-size: 18px;
	font-weight: 700;
}
.footer-navigation {
	display: flex;
	gap: 25px;
}
.footer-social {
	display: flex;
	gap: 25px;
}
.footer-row_line {
	border-bottom: 1px solid rgba(248, 249, 250, 0.5);
	padding-bottom: 22px;
	margin-bottom: 22px;
}
.footer-row {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
footer a {
	color: rgba(248, 249, 250, 0.5);
	transition: 0.5s;
}
footer a:hover {
	color: #fff;
}
